@page

<h1 style="text-align:center; color:#76d5e8">Welcome!</h1>
<p style="margin:10px; margin-right:100px; margin-left:100px; font-size:20px;">
    My name is Chad, I am a software egnineering student at Concordia University. After my first semester I had a week off, so, I decided to make a website
    for a few reasons. First I wanted to learn how to make a website using html that has user interaction combined with back end javascript. Second, I wanted to 
    learn more about data structures and their associated algorithms so I decided to focus on binary trees and tree traversal. Lastly I wanted to figure out how to build and 
    host a website on my own server.    
</p>

<p style="margin:10px; margin-right:100px; margin-left:100px; font-size:20px;">
    I had seen a couple of websites that visualize algorithms, such as sorting or pathfinding algorithms. It was a good way to simultaneously learn and teach 
    others about an algorithm I had recently seen a graphic for. When I saw the graphic I thought: "I bet I could dynamically and randomly make a tree and animate what a user chosen
    algorithm is doing, step by step."
</p>

<p style="margin:10px; margin-right:100px; margin-left:100px; font-size:20px;">
    So, if you're here, I would assume you're trying learn the same algorithm I did. I hope this website helps!
</p>