@page

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    I don't store your data. I don't want your data. I, of course, can't share data that I don't have so no worries! You keep all the rights to your data so if our friends over at facebook,
    or even the zuck himself ask for it, I have nothing to give.
</p>
